<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalcPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE2AE70A1CACE5E50070BA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2AE7211CACE5E60070BA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2AE72C1CACE5E60070BA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
